.whatisit {
  color: blue
}

/*
.virus {
  grid-column: 1/2;
  grid-row: 2/3
}
*/
.gallery {
  display: grid;
  grid-template-columns: 350px 350px;
  width: 700px;
  margin: 0 auto;
}

.korona1 {
  grid-column: 1/2;
  grid-row: 1/2
}

.korona2 {
  grid-column: 2/3;
  grid-row: 1/2
}

.korona3 {
  grid-column: 1/2;
  grid-row: 2/3
}

.korona4 {
  grid-column: 2/3;
  grid-row: 2/3
}

/*
.people {
  grid-column: 2/3;
  grid-row: 3/4
}
*/
a:hover {
  color: red;
}

h2 {
  color: #cc0000
}

.demopix {
  grid-column: 1/2;
  grid-row: 1/2
}

.symptoms {}

/* .g2-text {display: grid;
  grid-column: 5/6;
  grid-row: 2/3;
} */
h3, h2, h1 {
  font-family: sans-serif;
}

p {
  font-family: sans-serif
}

body {
  background-color: #e9dcdc
}

li {
  font-family: sans-serif
}

h1 {
  color: black;
  font-family: sans-serif;
  padding: 70px;
  text-align: center;
  background-color: #de6868
}

h2 {
  font-weight: bold
}

p, li, a, h2, h3 {
  font-family: 'Press Start 2P', cursive;
  font-kerning: 15px
}

p, li {
  color: white
}

.g2-text, .symptomlist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 2/3;
  grid-row: 1/2
}

.p2p {
  grid-template-columns: 1fr 1fr
}

.corona {
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 45pt;
  box-sizing: border-box;
  border-style: solid;
  border-color: black;
  align-items: start
}

nav a {
  margin-right: 20px;
  font-family: 'Press Start 2P', cursive;
  font-size: 10pt;
  border: solid;
  border-bottom: 20px
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  background-image: url("pixels.jpg");
  background-color: #cccccc;
}

.symptoms-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/*.Prevention, .list-dos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr
}
*/
.prevention-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr;
}

.prevent-img {
  grid-column: 1/2;
  grid-row: 1/3;
}

.g4-text {
  grid-column: 2/4;
  grid-row: 1/2;
}

.prevention-do {
  grid-column: 2/3;
  grid-row: 2/3
}

.prevention-dont {
  grid-column: 3/4;
  grid-row: 2/3
}

.grid-container-intro {
  background-color: #de6868;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
}

.transmission-grid {
  display: grid;
  grid-template-columns: 1fr 1fr
}

.map {
  margin-top: 100px;
}

.newss {
  display: grid;
  grid-template-columns: 1fr 1fr
}
