h1{color: aquamarine;
background: #e69500;
text-align: center;
font-family: 'Modak', cursive;
font-size: 70pt;
font-weight: 500;
}
h2{color: teal}
p{color: #8980ef;
  background-color:#ffcccc;
  font-family: 'Dosis', sans-serif}
b{color: blue;
font-weight: 900}
li{font-family: 'Dosis', sans-serif;
list-style: square}
a{font-family: 'Dosis', sans-serif;
color: #7b9394}
a:hover{color: pink}
img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
