h1{color: aquamarine;
background: #e69500;
text-align: center;
font-family: 'Modak', cursive;
font-size: 50pt;
font-weight: 500;
}
h1:hover{text-shadow: 2px 2px 2px yellow, 0 0 25px black, 0 0 5px orange;}
img{align-content:center;border-style:solid;border-color:aquamarine;border-width:thick;}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;}
body{background: rgb(195,190,34);
background: linear-gradient(72deg, rgba(195,190,34,1) 0%, rgba(255,209,241,1) 100%)}
h2{font-family: 'Fredoka One',cursive;
color: orange;
background-color:aquamarine;}
h3{font-family: 'Fredoka One',cursive;
color: orange;
background-color:#b4ffe6;}
p{color: #8980ef;
  font-family: 'Dosis',sans-serif}
b{color: purple;
font-weight: 900}
li{font-family: 'Dosis',sans-serif;
list-style: square;
background-color:#bfd4df;
color:#301860}
a{font-family: 'Dosis',sans-serif;
color: #7b9394}
a:hover{color: yellow}
th{color:blue;font-family: 'Dosis',sans-serif;}
address{font-family: 'Dosis',sans-serif;
color: #7b9394}
img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
.Jobs{color: red;font-weight: bold}
